# .gitignore

# Python specific files
__pycache__/
*.pyc
*.pyd
*.so
.Python
build/
dist/
develop-eggs/
*.egg-info/
.installed.cfg
*.egg
.tox/
.venv/
venv/  # virtual environment folder
pip-log.txt
pip-delete-this-arg.txt

# IDE specific files (e.g., VS Code, PyCharm)
.vscode/
.idea/
*.iml

# Operating System Files
.DS_Store # macOS


